
* {
    box-sizing: border-box;
  };

body{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
};

.home-mar {
    margin-left: 400px;
};

.nav_2 {
    margin-left: 60px;
};

#instagram{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

};

.newslatter{
    margin-right: 180px;
};


.follow {
    margin-left: 70px;
};

